.card{
    width: 450px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);

    transition: transform 0.4s ease,
                box-shadow 0.4s ease;
}

.card:hover{
    transform: translateY(-12px) rotate(-1deg);
    box-shadow: 0 20px 35px rgba(0,0,0,.25);
}