<div class="card footer-redondos text-center">
    <div class="card-header">
         Patricio Rey y sus Redonditos de Ricota 
    </div>

    <div class="card-body">
        <h3 class="card-title">Gracias por pasar por nuestra guarida ricotera</h3>

        <blockquote class="blockquote">
            <p>
                "El futuro llegó hace rato..."
            </p>
        </blockquote>

        <p class="footer-text">
            Remeras, posters y accesorios inspirados en la mística redonda.
        </p>

        <div class="footer-links">
          <a routerLink="inicio"> 🗣 Inicio</a>
            <a routerLink="nosotros"> 👥 Nosotros</a>
            <a routerLink="productos">🛒 Productos</a>
            <a routerLink="contacto">📩 Contacto</a>
        </div>
    </div>

    <div class="card-footer">
        © 2026 • Estefano Fourment • Proyecto Final 🤘
    </div>
</div>